body{
	background: url(kulinaria-IMG_6484-23-czerwca-2015.jpg)
}
header{
	/*padding: 200px;*/
	margin-top: 0px;
	font-family: Cuprum, Arial, Helvetical, sans-serif;
}
.dws-menu *{
	margin: 0;
	padding: 0;
}
.dws-menu ul,
.dws-menu ol{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
}
.dws-menu > ul li a{
	display: block;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ff7c00+0,ff7f04+1,ffa73d+76 */
background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb76b 0%, #ff7c00 0%, #ff7f04 1%, #ffa73d 76%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ff7c00 0%,#ff7f04 1%,#ffa73d 76%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffb76b 0%,#ff7c00 0%,#ff7f04 1%,#ffa73d 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ffa73d',GradientType=0 ); /* IE6-9 */



	padding: 15px 30px 15px 40px;
	font-size: 14px;
	color: #454547;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.dws-menu > ul li{
	position: relative;
	border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li > a i.fa{
	position: absolute;
	top: 15px;
	left: 12px;
    font-size: 18px;
}
.dws-menu > ul li: first-child{
    border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li: last-child{
	border-right: 1px solid #babbbb;
}
.dws-menu li a:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,000000+0,4c4c4c+0,595959+1,2c2c2c+98,2b2b2b+99,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 0%, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 1%, rgba(44,44,44,1) 98%, rgba(43,43,43,1) 99%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 0%,rgba(76,76,76,1) 0%,rgba(89,89,89,1) 1%,rgba(44,44,44,1) 98%,rgba(43,43,43,1) 99%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 0%,rgba(76,76,76,1) 0%,rgba(89,89,89,1) 1%,rgba(44,44,44,1) 98%,rgba(43,43,43,1) 99%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px block;
	transition: all 0.3s ease;
}

/*Sub menu*/
.dws-menu li ul{
	position: absolute;
	min-width: 150px;
	display: none;
}
.dws-menu li > ul li{
	border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
	padding: 10px;
	text-transform: none;
	background: #e4e4e5;
}
.dws-menu li > ul li ul{
	position: absolute;
	right: -150px;
	top: 0;
}
.dws-menu li:hover > ul{
    display: block; 
}
 
 div#video_player_box{
  width: 900px;
  margin: 0px auto;
  padding: 200px;
}

h1{
	text-align: center;
}

h1{
	color: #ffA500;
}

